# Archivos ofuscados
*.enc

# Directorios de compilación
dist/
build/

# Logos empresariales
Logo_BanCoppel.png
logo-servicios-financieros.jpg

#cache
*.pyc
*__pycache__

# Node / React
node_modules/
